/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #283148;
  font-family: Vazirmatn;
}
.linkstyle {
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  font-family: Vazirmatn;
  color: #eaf0ff;
  
}

.linkstyle:hover {
  color: #fdbe34;
  border-bottom: 1px solid #fdbe34;
  transition: all 0.5s;
}
.blur {
  position: absolute;
  width: 250px;
  height: 60px;
  top: 1210px;
  backdrop-filter: blur(11px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.4);
}
.blurTopRow {
  position: absolute;
  width: 250px;
  height: 60px;
  top: 990px;
  backdrop-filter: blur(11px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.4);
}
.courseImg {
  width: 250px;
  height: 180px;
  object-fit: cover;
  border-radius: 16px;
}
.softwareIcon {
  width: 80px;
  height: 80px;
  position: absolute;
}

.blurSoftwareName {
  position: absolute;
  width: 220px;
  height: 73px;
  top: 1950px;
  /* backdrop-filter: blur(11px); */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  /* background-color: rgba(0,0,0, 0.4); */
}

.blurSoftwareName:before {
  content: "";
  position: absolute;
  width: 220px;
  height: 0%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(11px);
  bottom: 0;
  transition: all 0.5s;
  border-radius: 25px;
}

.blurSoftwareName:hover::before {
  height: 100%;
}

.blurSoftwarename {
  position: relative;
  width: 220px;
  height: 72px;
  top: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  cursor: pointer;
}
.blurSoftwarename:before {
  content: "";
  position: absolute;
  width: 220px;
  height: 0%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(11px);
  bottom: 0;
  transition: all 0.5s;
  border-radius: 25px;
}



.linkstylesoftware {
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  font-family: Vazirmatn;
  color: #3C4865;
  /* transition: all 0.5s; */
  /* color: #eaf0ff; */
  position: absolute;

}

.linkstylesoftware:hover{
    color: #eaf0ff;
 /* position: relative; */
 transition: all 0.5s;
}

.blurSoftwarename:hover::before {
  height: 100%;

}
.teacherImg{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  position: relative;
  width: 350px;
}
.blurTeacher{
  position: absolute;
  width: 26%;
  height: 60px;
  top:2645px;
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.4);
}
.circle{
  width: 529px;
  height: 493px;
  border-radius: 50%;
  background: #ffda8a;
  position: relative;

}
.Icon{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.circleIMG{
position: absolute;
width: 520px;;
height: 521px;
left: calc(50% - 389.59px/2 + 194.5px);
}
.labelFooter{
  margin-left: 10px;
  font-family: 'Vazirmatn';
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color:#323232;
  line-height: 120%;
  margin-top: 2px;
}
.about{
  margin-top: 20px;
  height: 85px;
}
.footerImg{
  margin-right: 60px;
}
ul{
  direction: rtl; 
}
ul li{
  margin-right: 100px;
  /* display: flex;
  align-items: center;
  justify-content: center;
  list-style: circle; */
  font-size: 16px;
  color: #323232;
  margin-bottom: 13px;
}
ul li:hover{
  color:#FDBE34
}